@import 'tailwindcss';

@theme {
    --color-landing-nav: #566A68;
}

.landing {
    background-image: url("../../public/scenery/landing_bg.svg");
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
}

.width-custom {
    width: 85vw;
    height: 85vw;
}

.main-grad {
    background: linear-gradient(78deg, #77A6A8 -1.47%, #5B6F80 51.63%, #324444 104.74%);
}

.header-grad {
    background: linear-gradient(90deg, #7FADAF, #BED4D5);

}

.spotify-grad {
    background: linear-gradient(0deg, #1F2323, #2A3232) padding-box,
              linear-gradient(to top right, #CE4881, #1ED760) border-box;
    border: 6px solid transparent;
}